<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>snowboarders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2B0DBA31EF61984001B731D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B0DBB71EF61985001B731D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B0DBC21EF61985001B731D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
